{% load static %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}CG Server{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{% static 'serverlist/G2.ico' %}">
		{% block head %}{% endblock %}
		<link href="{% static 'serverlist/bootstrap.min.css' %}" rel="stylesheet">
		<style>{% include "./nav.css" %}</style>
	</head>
	<body>
		{% include "./nav.html" %}
		{% block container %}
		<div class="container mt-4 mb-5">
			{% block content %}{{ content }}{% endblock %}
		</div>
		{% endblock %}
		{% include "./footer.html" %}
		<script src="{% static 'serverlist/jquery-3.3.1.slim.min.js' %}"></script>
		<script src="{% static 'serverlist/bootstrap.min.js' %}"></script>
	</body>
</html>
