{% extends "./base.html" %}
{% load static %}
{% block title %}Account status{% endblock %}

{% block content %}

{% if user.is_anonymous %}

<h1 class="mb-4">需要授权</h1>
<p>请 <a href="{% url 'serverlist:loginpassword' %}">验证密码</a> 或 <a href="{% url 'serverlist:logingithuboauth' %}">通过 GitHub 授权</a> <img src="{% static 'serverlist/GitHub-Mark-32px.png' %}" style="height: 1em;">。</p>

{% elif user.employee.can_access %}

<h1 class="mb-4">帐号信息</h1>
<p>请跳转到 Profie</p>

{% else %}

<h1 class="mb-4">帐号未激活</h1>
<p><b>Username:</b> <span>{{ user.username }}</span></p>
<p><b>Email:</b> <span>{{ user.email }}</span></p>
<p>Please notify administrator to activate your account.</p>
<p>If you have just joined <a href="https://github.com/thucg">github.com/thucg</a>, please logout and login again.</p>
<p>Revoke your GitHub authorization? Click <a href="https://github.com/settings/connections/applications/{{ GITHUB_CLIENT_ID }}">here</a>.</p>

{% endif %}
{% endblock %}
