{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1 class="mb-4">离线下载</h1>
<p><b>网址</b>（校内访问优化）<a href="https://www.thucg.com/download9">www.thucg.com/download9</a></p>
<p><b>网址</b>（用于校外访问）<a href="https://cg.cs.tsinghua.edu.cn/download9">cg.cs.tsinghua.edu.cn/download9</a></p>
<hr>

<h3>FAQ</h3>
<p>
	Q: 技术信息<br>
	A: CG Download 修改自计算机系科协的 <a href="https://git.net9.org/sast/Download9">Download9</a><br>
	A: 如果你有 Account9 帐号，还可以使用新版 <a href="https://download.net9.org/">科协 Download9</a>
</p>
<p>
	Q: 免流量吗？<br>
	A: 是。离线下载服务开在 68.30 服务器上
</p>
<p>
	Q: 技术上无法下载什么？<br>
	A: 无法下载需要登录才能下载的文件、需要 cookie 才能下载的文件、需要辨别浏览器标识才能下载的文件
</p>
{% endblock %}
