{% extends "./base.html" %}
{% load static serverlisttags %}

{% block content %}

{% if messages %}
    {% for message in messages %}
	<div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

{% if tips %}
<div class="alert alert-danger" role="alert">{{ tips }}</div>
{% endif %}

<h1 class="mb-4">FTP</h1>
<h3 class="mb-3">连接方式</h3>
<p><b>服务器：</b>cg.cs.tsinghua.edu.cn</p>
<p><b>端口：</b>21</p>
<p><b>帐号：</b>使用本网站的<a href="{% url 'serverlist:profile' %}">用户名和密码</a></p>
{% if user.employee.ftp_insecure %}
<p><img style="height: 1.4em;" src="{% static 'admin/img/icon-yes.svg' %}" alt="yes"> <b>FTP：</b>该帐号允许使用 FTP 协议登录</p>
{% else %}
<p><img style="height: 1.4em;" src="{% static 'admin/img/icon-no.svg' %}" alt="no"> <b>FTP：</b>默认禁止使用不安全的 FTP 协议登录，如另有需求可联系管理员</p>
{% endif %}
<p><img style="height: 1.4em;" src="{% static 'admin/img/icon-yes.svg' %}" alt="yes"> <b>FTPS：</b>可使用支持 FTPS 的客户端（例如 <a href="https://winscp.net/">WinSCP</a>、<a href="https://filezilla-project.org/">FileZilla</a>），登录时请检查服务器的安全证书</p>

<h3 class="mt-5">授权说明</h3>
<ul>
	<li>步骤一：用户添加路径（<i>path</i>），初始权限为 <code>{{ 'none'|ftppermtrans }}</code></li>
	<li>步骤二：拥有 <i>path</i> 或 <i>path</i> 父目录的管理员可将用户权限修改为 <code>{{ 'read'|ftppermtrans }}</code>、<code>{{ 'write'|ftppermtrans }}</code> 或 <code>{{ 'admin'|ftppermtrans }}</code></li>
	<li>步骤三：使用完毕后，用户和管理员可以删除这条权限</li>
</ul>
<p>权限更改后，下一次登录 FTP 时生效</p>

<h3 class="mt-5">FTP 与主页的对应关系</h3>
<p>
	<code>cscg/*</code> 对应 CG 主页，例如路径 <code>cscg/poseshop</code> 对应 <a href="https://cg.cs.tsinghua.edu.cn/poseshop/">cg.cs.tsinghua.edu.cn/poseshop/</a><br>
	<code>oslab/*</code> 对应 OSLab 主页，例如路径 <code>oslab/people/~zhangsan</code> 对应 <a href="https://oslab.cs.tsinghua.edu.cn/people/~zhangsan/">oslab.cs.tsinghua.edu.cn/people/~zhangsan/</a><br>
</p>

<h3 class="mt-5 mb-3">我申请的路径</h3>
<table class="table table-sm table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>路径</th>
			<th>授权范围</th>
			<th>权限</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% for perm in myperms %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{% if perm.path != '' %}{{ perm.path }}{% else %}<span class="text-success">[根目录]</span>{% endif %}</td>
			<td>{% if perm.isdir %}目录和子目录{% else %}单个文件{% endif %}</td>
			<td>{{ perm.permission|ftppermtrans }}</td>
			<td><button class="btn btn-sm btn-danger" onclick="form_delete({{ perm.id }}, {{ perm.user_id }}, '{{ perm.permission }}', {{ request.user.id }})">删除</button></td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td><input class="form-control form-control-sm" type="text" name="path" id="input-path" placeholder="Please input a path"></td>
			<td>
				<select class="form-control form-control-sm" id="input-isdir">
					<option value="true">目录和子目录</option>
					<option value="false">单个文件</option>
				</select>
			</td>
			<td>No access</td>
			<td><button class="btn btn-sm btn-success" onclick="form_post()">添加</button></td>
		</tr>
	</tbody>
</table>

<h3 class="mt-5 mb-3">我管理的路径</h3>
<table class="table table-sm table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>用户名</th>
			<th>路径</th>
			<th>授权范围</th>
			<th>权限</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% for perm in managedperms %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td title="{{ perm.email }}">{{ perm.username }}</td>
			<td>{% if perm.path != '' %}{{ perm.path }}{% else %}<span class="text-success">[根目录]</span>{% endif %}</td>
			<td>{% if perm.isdir %}目录和子目录{% else %}单个文件{% endif %}</td>
			<td>
				<select class="form-control form-control-sm" id="input-permission-{{ perm.id }}">
					<option value="none"  {% eqorno perm.permission 'none'  'selected' '' %}>None</option>
					<option value="read"  {% eqorno perm.permission 'read'  'selected' '' %}>Read only</option>
					<option value="write" {% eqorno perm.permission 'write' 'selected' '' %}>Read &amp; Write</option>
					<option value="admin" {% eqorno perm.permission 'admin' 'selected' '' %}>Admin</option>
				</select>
			</td>
			<td>
				<button class="btn btn-sm btn-primary" onclick="form_put({{ perm.id }}, {{ perm.user_id }}, '{{ perm.permission }}', {{ request.user.id }})">保存</button>
				<button class="btn btn-sm btn-danger" onclick="form_delete({{ perm.id }}, {{ perm.user_id }}, '{{ perm.permission }}', {{ request.user.id }})">删除</button>
			</td>
		</tr>
		{% endfor %}
		{% if managedperms %}
		<tr>
			<td></td>
			<td><input class="form-control form-control-sm" type="text" name="username" id="input-admin-username" placeholder="Username"></td>
			<td><input class="form-control form-control-sm" type="text" name="path" id="input-admin-path" placeholder="Please input a path"></td>
			<td>
				<select class="form-control form-control-sm" id="input-admin-isdir">
					<option value="true">目录和子目录</option>
					<option value="false">单个文件</option>
				</select>
			</td>
			<td>
				<select class="form-control form-control-sm" id="input-admin-permission">
					<option value="none"  {% eqorno perm.permission 'none'  'selected' '' %}>None</option>
					<option value="read"  {% eqorno perm.permission 'read'  'selected' '' %}>Read only</option>
					<option value="write" {% eqorno perm.permission 'write' 'selected' '' %}>Read &amp; Write</option>
					<option value="admin" {% eqorno perm.permission 'admin' 'selected' '' %}>Admin</option>
				</select>
			</td>
			<td><button class="btn btn-sm btn-success" onclick="form_post_admin()">添加</button></td>
		</tr>
		{% endif %}
	</tbody>
</table>

<div class="d-none">
	<form id="form" action="{% url 'serverlist:ftp' %}" method="post">
		{% csrf_token %}
		{{ form }}
	</form>
</div>

<script>
'use strict';

var form = document.getElementById('form');

function form_post() {
	document.getElementById('id_action').value = 'post';
	document.getElementById('id_path').value = document.getElementById('input-path').value;
	document.getElementById('id_isdir').checked = document.getElementById('input-isdir').value == 'true';
	form.submit();
}

function form_post_admin() {
	document.getElementById('id_action').value = 'post-admin';
	document.getElementById('id_username').value = document.getElementById('input-admin-username').value;
	document.getElementById('id_path').value = document.getElementById('input-admin-path').value;
	document.getElementById('id_isdir').checked = document.getElementById('input-admin-isdir').value == 'true';
	document.getElementById('id_permission').value = document.getElementById('input-admin-permission').value;
	form.submit();
}

function form_put(id, user_id_1, permission, user_id_2) {
	var new_permission = document.getElementById('input-permission-' + id).value;
	if (permission == 'admin' && new_permission != 'admin' && user_id_1 == user_id_2 && !confirm('修改自己的权限，确认吗？'))
		return;
	document.getElementById('id_action').value = 'put';
	document.getElementById('id_id').value = id;
	document.getElementById('id_permission').value = new_permission;
	form.submit();
}

function form_delete(id, user_id_1, permission, user_id_2) {
	if (permission != 'none' && !confirm(user_id_1 == user_id_2 ? '删除自己的权限，确认吗？' : '删除权限，确认吗？'))
		return;
	document.getElementById('id_action').value = 'delete';
	document.getElementById('id_id').value = id;
	form.submit();
}
</script>

{% endblock %}
