{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1>Welcome to FTP</h1>
<h3>临时文件 FTP</h3>
<ul>
	<li>Hostname: <a href="https://ftp.thucg.com/">ftp.thucg.com</a></li>
	<li>Username: tmp</li>
	<li>Password: {{ FTP_TMP_PASSWORD }}</li>
</ul>
<h3>主页 FTP</h3>
<p>用于部署到 cg.cs.tsinghua.edu.cn 和 oslab.cs.tsinghua.edu.cn 主页的 FTP 帐号不公开，如需修改主页，请联系相关工作人员。</p>
<hr>

<h3>FAQ</h3>
<p>
	Q: 免流量吗？<br>
	A: 是。临时文件 ftp 服务开在 68.30 服务器上
</p>
<p>
	Q: 上传的文件提供 HTTP 下载吗？（例如方便分享给组外的人）<br>
	A: 例如上传 README.md，那么可在 https://ftp.thucg.com/README.md 下载到<br>
	A: 这是为了稍加保密性，知道文件路径才能下载。请不要依赖于这个保密性，登录 FTP 的用户可以看到所有文件
</p>
<p>
	Q: 网页上列出目录下的所有文件？<br>
	A: 如果上传到 list 文件夹，那么文件在 <a href="https://ftp.thucg.com/list/">https://ftp.thucg.com/list/</a> 列出
</p>
<p>
	Q: 会清理吗？<br>
	A: 是。临时文件 FTP 仅用于临时分享和传输文件，磁盘占用量大时就会清理
</p>
<p>
	Q: 安全性如何？<br>
	A: 服务器支持 FTP 协议和 FTPS 协议。如果客户端支持，请使用 FTPS 协议（开启 TLS 显式加密），以免明文传输密码和数据导致泄漏
</p>
{% endblock %}
