{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1 class="mb-4">存储空间（Network Attached Storage）</h1>
<p><b>Hostname:</b> <a href="http://nas.thucg.com/">nas.thucg.com</a></p>
<p><b>Username:</b> <span>{{ user.username }}</span> | <a href="{% url 'serverlist:resetpassword' %}">change username</a></p>
{% if password_set %}
<p><b>Password:</b> *** (don't use GitHub password) | <a href="{% url 'serverlist:resetpassword' %}">reset password</a></p>
<p><b>Password updated at:</b> {{ user.employee.password_updated_at | date:'Y-m-d H:i:s' }}</p>
{% else %}
<p><b>Password:</b> <i style="color: red">has not been set</i> | <a href="{% url 'serverlist:resetpassword' %}">reset password</a></p>
{% endif %}
<p><b>UID:</b> {{ uid }}</p>
<p>
	<b>Your directories:</b>
	<br>
	<ul>
		<li>/nas/raid/{{ uid }} (<b>your home</b>, RAID6) 存放存档数据</li>
		<li>/nas/disk-0/{{ uid }} (non-RAID) 暂时存放高频读写数据</li>
		<li>/nas/disk-1/{{ uid }} (non-RAID) 暂时存放高频读写数据</li>
	</ul>
</p>


<hr>

<h3>提供 3 种访问方式</h3>
<h3>1. ssh</h3>
<p>
	服务器公钥指纹：<br>
	<code class="ml-3" style="color: #212529;">2048 SHA256:2P8LqYgxCdZz0tT2+rFkmGcOLl2MkiEXjhOydid2dgY (RSA)</code><br>
	<code class="ml-3" style="color: #212529;">256 SHA256:PxnQCIMJgd0LvVjKUei6YooVYTgkFk05pVccKSfmvGg (ECDSA)</code><br>
	<code class="ml-3" style="color: #212529;">2048 1d:ff:ad:16:ba:96:b1:74:69:66:e5:f2:43:6f:d0:14 (RSA)</code><br>
	<code class="ml-3" style="color: #212529;">256 85:53:11:b0:18:f4:9d:84:3e:05:07:7f:22:2f:d3:e8 (ECDSA)</code><br>
	登录：<code>$ ssh {{ user.username }}@nas.thucg.com</code><br>
	登录时公钥指纹<strong class="text-danger">必须</strong>与以上指纹中的一个相同，否则<strong class="text-danger">必须</strong>停止登录<br>
	sshfs 挂载命令：<code>$ sshfs -oreconnect {{ user.username }}@nas.thucg.com: /path/to/mount</code><br>
	sshfs 卸载命令：<code>$ fusermount -u /path/to/mount</code><br>
	支持 SFTP<br>
	只能在本网站修改用户名和密码，无法用 passwd 修改密码<br>
</p>

<h3>2. Windows 映射网络驱动器</h3>
<p>
	网络位置填写 <code>\\nas.thucg.com\share</code>，用户名密码与 ssh 相同<br>
	你具有与 ssh 同等的访问权限，即可以写自己的 home 目录和 777 文件夹<br>
	注意：1) 两种系统对文件名大小写的敏感性不同，如果同时有 abc 和 ABC 两个文件，可能会出错。 2) 软链接会被当作文件夹，可能导致文件路径无限递归<br>
</p>

<h3>3. nfs</h3>
<p>
  nfs 无法做用户身份验证，安全起见，所有用户都映射为 <code>nobody:nogroup</code>，只可读。如需开一个公共可写文件夹，可以 chmod 777（不推荐）<br>
  先安装 <code># apt install nfs-common</code><br>
  方法一、通过 fstab 挂载：往 /etc/fstab 加一行 <code>nas.thucg.com:/	/path/to/mount	nfs	rsize=8192,wsize=8192,intr	0	0</code>，然后 <code># mount /path/to/mount</code><br>
  方法二、直接挂载：<code># mount -tnfs -orsize=8192,wsize=8192,intr nas.thucg.com:/ /path/to/mount</code><br>
  卸载命令：<code># umount /path/to/mount</code><br>
  挂载时建议加 intr 选项，以免网络断开后无法 umount<br>
</p>

<h3>FAQ</h3>
<p>
	Q: 保存哪些目录？<br>
	A: 只有 <code>/nas</code> 下的文件会保存，其它目录（例如 <code>/tmp</code>、<code>/etc</code>、<code>/home</code>、<code>/usr</code>）会在服务重启时重置<br>
	A: 如果你的文件大小超过 4 TB，或者文件数量超过 10,000,000 个，我们可能会要求你清理
</p>
<p>
	Q: 密码错误<br>
	A: 请在 <a href="http://nas.thucg.com/">nas.thucg.com</a> 查看服务目前的状态，有可能你的用户名不满足要求（例如你将自己的用户名改为 root），或者出现了其它错误<br>
	A: 因为帐号是根据网站用户动态设置的，所以只能在本网站设置密码，没法用 passwd 命令设置
</p>
<p>
	Q: 权限设置<br>
	A: home 目录的默认权限是 <code>rwx------</code>，仅自己可读。若要其它登录用户可读 <code>$ chmod 750 {{ home }}</code>，若要 NFS mount 公开可读 <code>$ chmod 755 {{ home }}</code><br>
	A: 不建议在自己的 home 目录授予其它用户写权限，否则其它用户和来自网络的匿名用户可以修改你的数据<br>
</p>
<p>
	Q: 服务器连了外网吗？<br>
	A: 已通过 OpenVPN 接到 6830，可以上网。因此你可以直接在 NAS 上下载数据，也可以在 ssh 里执行数据解压等其它命令
</p>
<p>
	Q: 在校外如何访问 NAS？<br>
	A: 请看如何通过 <a href="{% url 'serverlist:vpn' %}">OpenVPN</a> 访问校内资源
</p>
<p>
	Q: 数据备份<br>
	A: 没有数据备份机制，文件系统安全性由 Linux 权限机制保证，泄漏帐号导致的数据丢失无法恢复<br>
	A: <code>/nas/raid</code> 由冗余磁盘阵列 RAID6 提供冗余，<code>/nas/disk-0</code>、<code>/nas/disk-1</code> 为非 RAID
</p>
{% endblock %}
