{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1 class="mb-4">存储空间（Network Attached Storage）</h1>
<p><b>服务器：</b><a href="http://nas.thucg.com/">nas.thucg.com</a></p>
<p><b>帐号：</b>使用本网站的<a href="{% url 'serverlist:profile' %}">用户名和密码</a></p>
<p><b>UID：</b>{{ uid }}</p>
<p>
	<b>个人目录:</b>
	<br>
	<ul>
		<li>/home/{{ user.username }} (软链接，指向 {{ home }})</li>
		<li>{{ home }} (<b>home 目录</b>，RAID6) 存放存档数据</li>
		<li>/nas/disk-0/{{ uid }} (non-RAID) 暂时存放高频读写数据</li>
		<li>/nas/disk-1/{{ uid }} (non-RAID) 暂时存放高频读写数据</li>
	</ul>
</p>
<p>默认权限：<code>drwxr-x---</code>，自己可读写，其它登录用户只读，NFS 无访问权限</p>


<hr>

<h3>提供 3 种访问方式</h3>
<h3>1. ssh / SFTP</h3>
<p>
	服务器公钥指纹：<br>
	<code class="ml-3" style="color: #212529;">2048 SHA256:2P8LqYgxCdZz0tT2+rFkmGcOLl2MkiEXjhOydid2dgY (RSA)</code><br>
	<code class="ml-3" style="color: #212529;">256 SHA256:PxnQCIMJgd0LvVjKUei6YooVYTgkFk05pVccKSfmvGg (ECDSA)</code><br>
	<code class="ml-3" style="color: #212529;">2048 1d:ff:ad:16:ba:96:b1:74:69:66:e5:f2:43:6f:d0:14 (RSA)</code><br>
	<code class="ml-3" style="color: #212529;">256 85:53:11:b0:18:f4:9d:84:3e:05:07:7f:22:2f:d3:e8 (ECDSA)</code><br>
	登录：<code>$ ssh {{ user.username }}@nas.thucg.com</code><br>
	登录时公钥指纹<strong class="text-danger">必须</strong>与以上指纹中的一个相同，否则<strong class="text-danger">必须</strong>停止登录<br>
	sshfs 挂载命令：<code>$ sshfs -oreconnect,ServerAliveInterval=15,ServerAliveCountMax=3 {{ user.username }}@nas.thucg.com: /path/to/mount</code><br>
	sshfs 卸载命令：<code>$ fusermount -u /path/to/mount</code><br>
	只能在本网站修改用户名和密码，无法用 passwd 修改密码<br>
</p>

<h3>2. Windows 映射网络驱动器</h3>
<p>
	“我的电脑”->“映射网络驱动器”，“网络位置”（或“文件夹”）填 <code>\\nas.thucg.com\share</code>，使用本网站的<a href="{% url 'serverlist:profile' %}">用户名和密码</a>登录<br>
	注意：1) 两种系统对文件名大小写的敏感性不同，如果同时有 abc 和 ABC 两个文件，可能会出错。 2) 软链接会被当作文件夹，可能导致文件路径无限递归<br>
</p>

<h3>3. nfs</h3>
<p>
  先安装 <code># apt install nfs-common</code><br>
  方法一、通过 fstab 挂载：往 /etc/fstab 加一行 <code>nas.thucg.com:/	/path/to/mount	nfs	rsize=1048576,wsize=1048576,_netdev,intr	0	0</code>，然后 <code># mount /path/to/mount</code>，重启会自动挂载<br>
  方法二、手动挂载一次：<code># mount -tnfs -orsize=1048576,wsize=1048576,_netdev,intr nas.thucg.com:/ /path/to/mount</code><br>
  卸载命令：<code># umount /path/to/mount</code><br>
  挂载时建议用 intr 选项，以免网络断开后无法 umount<br>
  nfs 无法做用户身份验证，安全起见，所有用户都映射为 <code>nobody:nogroup</code><br>
  如需 NFS 可读取自己的 home 目录，执行 <code>$ chmod 755 {{ home }}</code><br>
  如需 NFS 可写入 some-dir，执行 <code>$ chmod 1777 {{ home }}/some-dir</code><br>
</p>

<h3>FAQ</h3>
<p>
	Q: 保存哪些目录？<br>
	A: 只有 <code>/nas</code> 下的文件会保存，其它目录（例如 <code>/tmp</code>、<code>/etc</code>、<code>/home</code>、<code>/usr</code>）会在服务重启时重置<br>
	A: 如果你的文件大小超过 4 TB，或者文件数量超过 10,000,000 个，我们可能会要求你清理
</p>
<p>
	Q: 密码错误<br>
	A: 请在 <a href="http://nas.thucg.com/">nas.thucg.com</a> 查看服务目前的状态，有可能你的用户名不满足要求（例如你将自己的用户名改为 root），或者出现了其它错误<br>
	A: 因为帐号是根据网站用户动态设置的，所以只能在本网站设置密码，没法用 passwd 命令设置
</p>
<p>
	Q: 服务器连了外网吗？<br>
	A: 已通过 OpenVPN 接到 6830，可以上网。因此你可以直接在 NAS 上下载数据，也可以在 ssh 里执行数据解压等其它命令
</p>
<p>
	Q: 在校外如何访问 NAS？<br>
	A: 请看如何通过 <a href="{% url 'serverlist:vpn' %}">OpenVPN</a> 访问校内资源
</p>
<p>
	Q: 数据备份<br>
	A: 没有数据备份机制，文件系统安全性由 Linux 权限机制保证，泄漏帐号导致的数据丢失无法恢复<br>
	A: <code>/nas/raid</code> 由冗余磁盘阵列 RAID6 提供冗余，<code>/nas/disk-0</code>、<code>/nas/disk-1</code> 为非 RAID
</p>
{% endblock %}
