{% extends "./base.html" %}
{% block title %}Account status{% endblock %}

{% block content %}

{% if user.is_anonymous %}

<h1>Login required</h1>
<p>Please click "login" to login with GitHub account.</p>

{% elif user.employee.can_access %}

<h1>Welcome</h1>
<p>username: <span>{{ user.username }}</span></p>
<p>email: <span>{{ user.email }}</span></p>
<p>Please click "back to home" to continue.</p>
<p>Revoke your GitHub authorization? Click <a href="https://github.com/settings/connections/applications/{{ GITHUB_CLIENT_ID }}">here</a>.</p>

{% else %}

<h1>Permission denied</h1>
<p>username: <span>{{ user.username }}</span></p>
<p>email: <span>{{ user.email }}</span></p>
<p>Please notify administrator to activate your account.</p>
<p>If you have just joined <a href="https://github.com/cscg-group">github.com/cscg-group</a>, please logout and login again.</p>
<p>Revoke your GitHub authorization? Click <a href="https://github.com/settings/connections/applications/{{ GITHUB_CLIENT_ID }}">here</a>.</p>

{% endif %}
{% endblock %}
