{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1 class="mb-4">PPTP / L2TP</h1>
<h3>PPTP</h3>
<ul>
	<li>Username: {{ PPTP_USERNAME }}</li>
	<li>Password: {{ PPTP_PASSWORD }}</li>
</ul>
<h3>L2TP</h3>
<ul>
	<li>预共享密钥: {{ L2TP_PRESHAREDKEY }}</li>
	<li>Username: {{ L2TP_USERNAME }}</li>
	<li>Password: {{ L2TP_PASSWORD }}</li>
</ul>
<hr>

<h3>FAQ</h3>
<p>
	Q: 可以设置成只有校外流量走 VPN，校内流量直连吗？<br>
	A: 否，PPTP 默认把所有流量都会导向服务器，不会区分校内和校外流量，你需要手动修改路由表。对此 <a href="{% url 'serverlist:vpn' %}">OpenVPN</a> 更智能一点
</p>
<p>
	Q: 上得了主页但连不上 PPTP / L2TP<br>
	A: PPTP / L2TP 无法穿透某些 NAT 和防火墙，此时 <a href="{% url 'serverlist:vpn' %}">OpenVPN</a> 有希望连上
</p>
{% endblock %}
