{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1>Welcome to PPTP / L2TP</h1>
<h3>PPTP</h3>
<ul>
	<li>Username: {{ PPTP_USERNAME }}</li>
	<li>Password: {{ PPTP_PASSWORD }}</li>
</ul>
<h3>L2TP</h3>
<ul>
	<li>Pre-shared key: {{ L2TP_PRESHAREDKEY }}</li>
	<li>Username: {{ L2TP_USERNAME }}</li>
	<li>Password: {{ L2TP_PASSWORD }}</li>
</ul>
<hr>

<h3>FAQ</h3>
<p>
	Q: 安全性如何？<br>
	A: 警告：PPTP 和 L2TP 不认证服务器身份，因此路由链路上的任何人和局域网 ARP 欺骗都可以窃取你与服务器间的所有通信内容。建议改用 OpenVPN
</p>
<p>
	Q: 可以设置成只有校外流量走 VPN，校内流量直连吗？<br>
	A: 否，PPTP 默认把所有流量都会导向服务器，不如 OpenVPN 灵活。因此，如果访问本来就免流量的校内资源，也会导向服务器，即占用服务器带宽，又增加网络延迟
</p>
<p>
	Q: 访问限制？<br>
	A: 校内资源请直接访问，不要占用服务器带宽。即使把校内流量（部分 IP 段）导向服务器，服务器也不会帮你连接的
</p>
<p>
	Q: 上得了主页但连不上 PPTP / L2TP<br>
	A: PPTP / L2TP 无法穿透某些 NAT，因此如果你没有 IPv4 公网 IP 地址，或者运营商限制了你能绑定的端口（例如手机网络），则有可能连不上
</p>
{% endblock %}
