{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1>Welcome to proxy</h1>
<p>Software (for Windows) and configuration file can be downloaded <a href="http://open-access.oss-cn-beijing.aliyuncs.com/Documents/ss-with-config.zip">here</a>.</p>
<hr>

<h3>FAQ</h3>
<p>
	Q: Windows 如何配置代理？<br>
	A: 解压后点开 .exe 即可，端口和密码已写在配置文件里了。
</p>
<p>
	Q: Linux 或 Mac 用户如何配置代理？<br>
	A: 请在下载文件的 gui-config.json 里找地址、端口和密码。Linux 和 Mac 没法配置系统代理，需要配合其它工具才好用。
</p>
<p>
	Q: 代理服务器地址在哪？<br>
	A: 洛杉矶。并且我们选用了比较快的线路，ping 一般在 180 ms 以内。
</p>
<p>
	Q: 免流量吗？<br>
	A: 否。但可以开 VPN 免流量，并且开 proxy。
</p>
<p>
	Q: 注意事项呢？<br>
	A: <strong>不要进行 BT 下载，不要用 HTTP 协议下载侵权文件</strong>，以免服务器被封。尽量不要开全局代理，以免服务器流量过大。
</p>
<p>
	Q: 仍有一些网站没有自动走代理。<br>
	A: 两种方法，推荐前一种。<br>
	A1: PAC -> 编辑 GFWList 的用户规则，加入 example.com 或 *.example.com，每条占一行。然后重新关、开一次软件。<br>
	A2: 暂时开启全局代理：系统代理模式 -> 全局模式。用后请切换回 PAC 模式，否则本来能直接访问的网站也走代理，增加网络延迟，同时也增加服务器负担。
</p>
<p>
	Q: 连不上了。<br>
	A: 如果 24 h 仍连不上，请提醒我修复一下吧。
</p>
{% endblock %}
