{% extends "./base.html" %}
{% block title %}Reset password{% endblock %}

{% block content %}
<style>
.errorlist {
	color: red;
}
</style>
<h1>Change username &amp; reset password</h1>
<p>It will be used to authenticate you to OpenVPN and NAS. It will not change your GitHub password.</p>
<p>Feel free to forget the password since you can login with GitHub OAuth and reset password at anytime.</p>
<form method="POST" class="post-form">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}
