{% extends "./base.html" %}
{% block title %}Reset password{% endblock %}

{% block content %}
<style>
.errorlist {
	color: red;
}
</style>
<h1 class="mb-4">重置用户名和密码</h1>
<p>此用户名和密码用于登录 OpenVPN 和 NAS，用户名不必与 GitHub 一致。</p>
<p>即使你忘记了密码，也可以通过 GitHub OAuth 登录并重置密码。</p>
<p>密码必须满足最低复杂度要求：</p>
<ul>
	<li>密码不能与账户信息（用户名、邮箱等）相似</li>
	<li>密码长度至少为 8</li>
	<li>不允许使用<a href="https://gist.github.com/roycewilliams/281ce539915a947a23db17137d91aeb7">常见密码列表</a>里的密码</li>
	<li>密码不能全是数字</li>
</ul>
<hr>
<div class="col-sm-12 col-md-6 mt-4 pb-5">
	<form method="post" role="form">
		{% csrf_token %}
		<p>
			<label>用户名</label>
			{{ form.username }}
			{{ form.username.errors }}
		</p>
		<p>
			<label>新密码</label>
			{{ form.password }}
			{{ form.password.errors }}
		</p>
		<p>
			<input type="submit" class="form-control btn btn-primary">
		</p>
	</form>
</div>
{% endblock %}
