<h3>校园网说明</h3>
<p>目前校园网分“准入认证”（<a href="https://auth4.tsinghua.edu.cn/">auth4.tsinghua.edu.cn</a>）和“校外网络”（<a href="https://net.tsinghua.edu.cn/">net.tsinghua.edu.cn</a>）两部分。<strong>连接了准入认证才能访问校内网络，才能连上服务器。</strong>访问校内 IP 不会计费；只连准入认证则注定只能访问校内 IP，因而不会计费</p>
<ul>
	<li>有线网（含自己开的路由器的 WIFI）可以只连准入认证（<a href="https://auth4.tsinghua.edu.cn/">auth4.tsinghua.edu.cn</a>），连接时不要勾选“访问校外网络”，无论如何都不会计费。然后便可连接 VPN</li>
	<li>无线网（Tsinghua、Tsinghua-5G、Tsinghua-Secure 等）没法单独登录准入认证，只能同时连接准入认证和校外网络。然后连接 VPN 就不会计费，如果 VPN 断开则会继续计费</li>
	<li>有些 WIFI（DIVI、IVI、Tsinghua-Guest 等）属于校外网络环境，不需要校园网账号，也就不需要用 VPN 来省流量</li>
</ul>
